= stylesheet_link_tag 'bootstrap-min'
= javascript_include_tag 'bootstrap.min', async: true
= render partial: "layouts/top"
.explanation
	p.lead Bootstrap other genes (identifiers) in your rank list into CLIK groups based on how connected they are to other members of a given CLIK group using the hypergeometric distribution. Connections defined by Genetic / Physical evidence (Network Connections) or by membership in a complex (Complex Data).