= render partial: "layouts/top"
.explanation
	p In order to discern the influence of physical interactions (e.g. Two Hybid, FRET, Co-fractionation, etc.) from genetic ones (e.g. DosageLethality, Synthetic Lethality, Positive Genetic, etc.) on CLIK graphs we added an 'Interactions to Consider' section on the web interface. All interaction types within the BioGRID database are listed and selected by default, however users may modify the settings in this section to consider / omit interaction types as they see fit prior to running CLIK.