= stylesheet_link_tag 'bootstrap-min'
= javascript_include_tag 'bootstrap.min', async: true
= render partial: "layouts/top"
.explanation
	p.lead On some CLIK graphs vertical and horizontal lines appear due to promiscuously interacting genes included in the analysis. To reduce the influence of these genes on CLIK, users may adjust the 'Noise Reduction' parameter option prior to submitting their rank order list for analysis. This drop down menu allows users to omit genes with more than ‘X’ number of interactions within the list they submit for CLIK analysis. The default value of ‘X’ is 400 interactions.

