fieldset{
	width: 800px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
fieldset legend{
	color: black;
	font-weight: normal;
	font-size: 19px;
	font-variant: small-caps;
	padding: 2px 8px;
}

table{
	width: 100%;
	border: 0px;
	padding: 5px;
	font-size: 100%;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

/* specific to screen analysis results page */
div.screenResultsContainer{  width:1029px;	}

div.screenResultsContainer div.notes{
  position:relative;
  float:right;
  top:9px;
  left:-20px;
}